@import colors

.post-list
    ul
        list-style-type: none
        margin: 0
        padding: 0
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(10em, 1fr))
        grid-auto-rows: 7.5em
        gap: 5px

        li
            position: relative
            flex-grow: 1
            margin: 0 0.25em 0.5em 0.25em
            display: inline-block
            text-align: left

            .thumbnail-wrapper
                display: inline-block
                width: 100%
                height: 100%
                line-height: 80%
                font-size: 80%
                color: white
                outline-offset: -3px
                box-shadow: 0 0 0 1px rgba(0,0,0,0.2)

                .type, .stats
                    position: absolute
                    bottom: 0.5em
                    padding: 0.33em 0.5em
                    background: rgba(0,0,0,0.5)
                    height: 1em

                .type
                    float: left
                    left: 0.5em
                    &[data-type=image]
                        display: none

                .stats
                    float: right
                    right: 0.5em
                    text-align: right
                    i
                        margin-right: 0.25em
                    .icon:not(:first-of-type)
                        margin-left: 1em

            .edit-overlay
                position: absolute
                top: 0.5em
                left: 0.5em

                .tag-flipper
                    display: inline-block
                    padding: 0.5em
                    box-sizing: border-box
                    border: 0
                    &:after
                        display: inline-block
                        width: 1em
                        height: 1em
                        text-align: center
                        line-height: 1em
                        font-size: 1.6em
                    &.tagged
                        background: rgba(0, 230, 0, 0.7)
                        &:after
                            color: white
                            content: '-'
                    &:not(.tagged)
                        background: rgba(255, 0, 0, 0.7)
                        &:after
                            color: white
                            content: '+'
                    &[data-disabled]
                        background: rgba(200, 200, 200, 0.7)

                .safety-flipper a
                    display: inline-block
                    margin: 0.1em
                    box-sizing: border-box
                    border: 0
                    display: inline-block
                    width: 1.2em
                    height: 1.2em
                    text-align: center
                    line-height: 1em
                    font-size: 1.6em
                    border: 3px solid
                    &.safety-safe
                        background-color: darken($safety-safe, 5%)
                        border-color: @background-color
                        &:not(.active)
                            background-color: alpha(@background-color, 0.3)
                    &.safety-sketchy
                        background-color: $safety-sketchy
                        border-color: @background-color
                        &:not(.active)
                            background-color: alpha(@background-color, 0.3)
                    &.safety-unsafe
                        background-color: $safety-unsafe
                        border-color: @background-color
                        &:not(.active)
                            background-color: alpha(@background-color, 0.3)
                    &[data-disabled]
                        background: rgba(200, 200, 200, 0.7)


            .thumbnail
                background-position: 50% 30%
                width: 100%
                height: 100%
                outline-offset: -3px

            .thumbnail-wrapper.no-tags
                .thumbnail
                    outline: 4px solid $post-thumbnail-no-tags-border-color

            &:hover
                background: $post-thumbnail-border-color
                .thumbnail
                    opacity: .9

            &:hover a, a:active, a:focus
                .thumbnail
                    outline: 4px solid $main-color !important

.post-list-header
    white-space: nowrap
    text-align: left

    label
        display: none !important
    form
        width: auto
        margin-bottom: 0.75em
        *
            vertical-align: top
        @media (max-width: 1000px)
            display: block
    input
        margin-bottom: 0.25em
        margin-right: 0.25em
    input[name=search-text]
        width: 25em
        @media (max-width: 1000px)
            display: block
            width: 100%
            margin-bottom: 0.5em
    .append
        vertical-align: middle
        font-size: 0.95em
        color: $inactive-link-color
    .bulk-edit
        &:not(.opened)
            .close
                display: none
        &.opened
            .open
                display: none
        &.hidden
            display: none
    .bulk-edit-tags
        &.opened
            .hint
                @media (max-width: 1000px)
                    display: block
                    margin-bottom: 0.5em
        &:not(.opened)
            [type=text],
            .start
                display: none
            .hint
                display: none
        input[name=tag]
            width: 12em
            @media (max-width: 1000px)
                display: block
                width: 100%
                margin-bottom: 0.5em
        .append
            &.open,
            &.hint
                @media (max-width: 1000px)
                    margin-left: 0
        .hint
            margin-right: 1em
    .bulk-edit-safety
        .append
            @media (max-width: 1000px)
                margin-left: 0

    .safety
        margin-right: 0.25em
        &.safety-safe
            background-color: $safety-safe
            border-color: @background-color
            &.disabled
                background-color: alpha(@background-color, 0.15)
        &.safety-sketchy
            background-color: $safety-sketchy
            border-color: @background-color
            &.disabled
                background-color: alpha(@background-color, 0.15)
        &.safety-unsafe
            background-color: $safety-unsafe
            border-color: @background-color
            &.disabled
                background-color: alpha(@background-color, 0.15)
